<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="vertical-center">
        <section class="container">
            <div class="d-flex justify-content-center align-items-center">
                <div class="row">
                    <h1 id="login-title">Bienvenue sur l'administration du site Web de Mirabelle</h1>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="row">
                    <form action="/product" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nom d'utilisateur</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mot de passe</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" required>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>

</html>